@mixin zone-tree($depth-increment: 1em) {
  .area-tree-node {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    &.root {
      font-weight: 500;
    }
    &.parent {
      font-weight: 500;
    }

    @for $i from 1 through 20 {
      &.depth-#{$i} {
        padding-left: $i * $depth-increment;
      }
    }
  }

}

@mixin area-tree($depth-increment: 1em) {
  .area-tree-node {
    &.root {
      font-weight: 500;
    }
    &.parent {
      font-weight: 500;
    }

    @for $i from 0 through 20 {
      &.depth-#{$i + 1} {
        padding-left: $i * $depth-increment;
      }
    }
  }

}

//.tree-part {
//  &.through {
//    background: url(images/icons/inherited_through.png) left center no-repeat;
//  }
//  &.inherited_through {
//
//  }
//  &.inherited_through_terminal {
//    background: url(images/icons/inherited_through_terminal.png) left center no-repeat;
//  }
//  &.inherited_terminal {
//    background: url(images/icons/inherited_terminal.png) left center no-repeat;
//  }
//}
