area-path {
  display: inline-flex;
  flex-direction: row;
  span + span {
    $gap: 0.5em;
    margin-left: $gap;
    white-space: nowrap;
    &:before {
      content: '/';
      margin-right: $gap;
    }
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span:last-of-type {
    overflow: visible;
  }
}