area-selector {

  md-autocomplete {
    margin-top: 4px;
  }

}

.area-selector-autocomplete-suggestions {
  li {
    //border-bottom: 1px solid #ccc;
    height: 80px;
    line-height: 48px;
    //padding-top: 8px;
    //padding-bottom: 8px;
    white-space: normal;
  }
  div.area-name {
  }
  div.area-path {
    padding: 0 0 8px;
    margin-top: -4px;
    //height: 24px;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
    //border: 1px solid green;
    span {
      margin: 0;
      & + span {
        margin-left: 0.5em;
        &:before {
          content: '>';
          margin-right: 0.5em;
        }
      }
    }

  }

}