.flash-banner {
  text-align: center;
  padding: 16px 16px;
  background-color: orange;
  color: rgba(255, 255, 255, 0.9);
  font-size: 13px;

  a {
    &:link, &:visited {
      color: rgba(255, 255, 255, 1);
    }
  }

  &.align-left {
    text-align: left;
  }
}
