@import "../../settings/gaps";
@import "../../settings/colors";

la-frame {
  display: flex;
  flex-direction: column;
  //max-height: 100%;
  //flex-grow: 1;

  > .ribbon {

    align-items: stretch;

    > .crumb-container {
      padding: 0 3*24px 0 $defaultGap;
      min-width: 300px;
    }

    > .toolbar-container {
    }
  }

  .content-container {
    flex-grow: 1;
    display: flex;
    background-color: #fafafb;
    flex-direction: column;
    > * {
      flex-grow: 1;
    }
  }

  .footer-container {
    background-color: #f9f9f9;
    color: #aaa;
    height: 0px;
  }

}

la-zone-frame {
  // this is zone frame stuff
  la-import-component[name=toolbar-tools] {
    display: flex;
    flex-direction: row;

    [export-wrapper] {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }

  //button.zone-tab-menu {
  //  height: auto;
  //  width: 24px;
  //  padding: 0;
  //  opacity: 0;
  //  border: 0;
  //  margin-left: 4px;
  //  background: transparent;
  //  md-icon {
  //    //font-size: 16px;
  //  }
  //  transition: opactity 500ms;
  //}
  //.md-active {
  //  .zone-tab-menu {
  //    opacity: 1;
  //    transition: opactity 500ms;
  //  }
  //}

}

la-panel {

  //flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-size: 14px;
  .main-content-container {
    max-width: 100%;
  }

  .left-sidebar-container, .right-sidebar-container {

    width: 340px;
    min-width: 340px; // without this the left sidebar in the reports was going nuts on selecting certain areas.
    background-color: #f3f3f3;
    &:empty {
      display: none;
    }
    padding: $defaultGap;
    &[no-gaps] {
      padding: 0;
    }

    .md-subheader {
      margin-right: 0;
      background-color: rgba(0,0,0,0.1);
      color: #555;
    }

    md-content {
      background-color: transparent;
      &[layout-padding] {
        padding: 16px;
      }
    }

  }
  .left-sidebar-container {
    border-right: 1px solid #e0e0e0;
  }
  .right-sidebar-container {
    border-left: 1px solid #e0e0e0;
  }

  .main-content-container {
    padding: $defaultGap;
    background-color: #fafafb;
  }

  &[no-gaps] {
    .main-content-container {
      padding: 0;
    }
  }

}