la-nav-link {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  line-height: inherit;
  width: max-content;
  a {
    white-space: inherit;
    flex: 1;
    line-height: inherit;
    text-decoration: none;
    &, &:link, &:visited, &:hover {
      color: inherit;
    }
  }
}