@import "../../settings/gaps";
@import "../../settings/colors";
@import "../../mixins/shapes/triangle";
$whats-this-bg: $fixme-blue;

la-sidebar-section {
  //display: flex;
  //flex-direction: column;
  //max-height: 100%;
  //flex-grow: 1;

  .sub-header {
    > div.title {
      padding: 16px 0 16px 16px;
    }
    > div.whats-this {
      padding: 16px;
    }

    &:hover {
      .whats-this a {
        opacity: 1;
      }
    }

    color: #555;
    background-color: rgba(0, 0, 0, 0.1);
    .title {
      font-weight: 500;
    }
    .whats-this {
      position: relative;
      a {
        transition: opacity 150ms linear;
        opacity:0.4;
        outline:none;
        font-weight: 300;
        color: #333;
        cursor: pointer;
        &:link, &:visited {
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      &.open:after {
        $w: 12px;
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -$w/2;
        bottom: 0;
        @include triangle($direction: top, $color: $whats-this-bg, $width: $w, $height: half);
      }
    }
  }

  whats-this {
    padding: 16px;
    line-height: 18px;
    font-size: 13px;
    font-weight: 100;
    background-color: $whats-this-bg;
    color: rgba(255,255,255,0.95);
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }

    .footer {
      margin-top: 13px;
    }

    a.close {
      outline:none;
      font-weight: 300;
      cursor: pointer;
      &:link, &:visited {
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }

    }
  }

  .content-container {
    background-color: transparent;
  }
}

