//@import "../../mixins/shitty_nav";
//$height: 50px;

current-user {
  white-space: nowrap;
  color: inherit;
  //display: inline-block;

  //> .md-menu {
  //  //padding-left: 0;
  //  //padding-right: 0;
  //  > .md-button {
  //    font-size: 14px;
  //    text-transform: none;
  //    font-weight: normal;
  //    width:auto;
  //    margin-left: 0;
  //    margin-right: 0;
  //    //padding: 0;
  //    color: rgba(255,255,255,0.7);
  //    md-icon {
  //      color: inherit;
  //    }
  //  }
  //}
}
logout-link {
  a {
    display:block;
  }
}

