alarm-list table-component {
  table.md-table {
    tr[state='cleared'] {
      td {
        color: rgba(0,0,0,0.7);
        background-color: rgb(220,255,220);
        border-top-color: rgb(195,240,195);
      }
      &:hover {
        td {
          background-color: rgb(195,240,195);
        }
      }
    }
    tr[state='active'] {

      &[severity="critical"] {
        td {
          color: rgba(255,255,255,0.9);
          background-color: rgb(190,20,20);
          border-top-color: rgb(170,10,10);
        }
        td.severity {
          font-weight: 800;
        }
        &:hover {
          td {
            color: rgb(255,255,255);
            background-color: rgb(170,10,10);
          }
        }
      }
      &[severity="major"] {
        td {
          color: rgba(255,255,255,0.9);
          background-color: rgb(255,0,0);
          border-top-color: rgb(230,0,0);
        }
        &:hover td {
          color: rgb(255,255,255);
          background-color: rgb(230,0,0);
        }
      }
      &[severity="minor"] {
        td {
          color: rgba(0,0,0,0.65);
          background-color: rgb(255,180,0);
          border-top-color: rgb(230,170,0);
        }
        &:hover td {
          color: rgba(0,0,0,0.85);
          background-color: rgb(230,170,0);
        }
      }
      &[severity="warn"] {
        td {
          color: rgba(0,0,0,0.65);
          background-color: rgb(255,255,0);
          border-top-color: rgb(240,240,0);
        }
        &:hover td {
          color: rgba(0,0,0,0.85);
          background-color: rgb(240,240,0);
        }
      }
    }

  }
}