@import "../settings/gaps";
@import "../settings/colors";
@import "../mixins/shapes/triangle";

// hack until angular-material has menus...
@mixin shitty-nav-menu($z-index, $nav-height, $width) {

  $font-size: 14px;
  $sub-menu-height: 36px;
  $menu-hover-bg: #444;

  padding: 0;
  z-index: $z-index;
  position: relative;
  font-size: $font-size;

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: $nav-height;
    position: relative;

    // all LI styles
    li {
      position: relative;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      margin: 0;
      text-decoration: none;
      white-space: nowrap;
      > *:first-child {
        flex: 1;
        font-size: inherit;
        line-height: inherit;
        white-space: inherit;
        padding-left: 1em;
        padding-right: 1em;
        cursor: pointer;
      }
    }


    > li {
      height: $nav-height;
      line-height: $nav-height;
      align-items: stretch;
      justify-content: center;
      margin: 0 0 0 1px;
      padding: 0;
      float: left;
      position: relative;
      &:hover {
        background: $menu-hover-bg;
      }

      > *:first-child {
        font-size: $font-size;
        color: #aaa;
        md-icon {
          color: inherit;
        }
        &:hover {
          transition: color 150ms;
          color: white;
        }
      }
      //&:last-child ul {
      //  right: 0;
      //  left: auto;
      //}
      &:hover {
        > *:first-child {
          color: white;
        }
        ul {
          display: block;
        }
      }
    }

    > li.active {
      &:after {
        $w: 12px;
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -$w/2;
        bottom: 0;
        @include triangle($direction: top, $color: $fixme-blue, $width: $w, $height: half);
      }

      > *:first-child {
          color: white;
      }

      // stop the little arrow from showing over the dropdown on hover
      &.parent:hover:after {
        display: none;
      }
    }

    ul {
      $shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;
      box-shadow: $shadow;

      background: $menu-hover-bg;
      padding: $defaultGap/4;
      box-sizing: border-box;
      list-style: none;
      display: none;
      position: absolute;
      left: 0;
      top: $nav-height;
      right: auto;
      //width: $width;
      //width: max-content;
      width: auto;
      height: auto;

      > li {
        $font-size: 13px;
        align-items: stretch;
        justify-content: flex-start;
        left: auto;
        margin: 0;
        clear: left;
        width: 100%;
        height: $sub-menu-height;
        line-height: $sub-menu-height;

        &:hover {
          transition: none;
          //background: transparent;
          //color: #aaa;
          height: $sub-menu-height;
          line-height: $sub-menu-height;
          //font-size: $font-size;
          font-weight: normal;
        }
        &:hover {
          background: #eee;
          color: #334; //$hover-color;
        }
        &.active {
          color: white;
          font-weight: bold;
          &:hover {
            color: #222;
          }
        }

        &.active:after {
          display: none;
        }
      }
    }
  }

  // this is triggered by a state change and closes all the drop downs.  This prevents
  // the drop down staying open until the mouse moves off it (even after the screen changes).
  &.hide-drop-downs {
    > ul {
      > li:hover {
        background-color: transparent !important;
      }
      ul {
        display: none !important;
      }
    }
  }

}