@import "../animation-mixins";
//@import "../../components/modal/optionDialog";

.day-overrides-dialog {

  .overrides {
    .reorder {
      cursor: move;
    }
  }

  .empty-state {
    padding: 16px;
    text-align: left;
  }

}

