la-message-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  transition: opacity 150ms linear;

  &.ng-hide {
    opacity: 0;
  }

  &.ng-show {
    opacity: 1;
  }
}