tree-icons {

  display: inline-flex;
  flex-direction: row;
  align-items: stretch;

  div {
    width: 24px;
    min-width: 24px;
    &.through {
      background: url(images/icons/inherited_through.png) left center no-repeat;
    }
    &.inherited_through {
      background: url(images/icons/inherited_through.png) left center no-repeat;
    }
    &.inherited_through_terminal {
      background: url(images/icons/inherited_through_terminal.png) left center no-repeat;
    }
    &.inherited_terminal {
      background: url(images/icons/inherited_terminal.png) left center no-repeat;
    }

    &:last-child {
      padding-right: 12px;
    }
  }
}
