@import "../../../settings/gaps";
@import "../../../settings/colors";
@import "../../../mixins/shapes/triangle";

.metric-set {

  & + .metric-set {
    margin-left: 2em;
  }

  &.savings {
    .title {
      border-color: #98c89a;
    }
  }
  .title {
    color: black;
    padding: 0 0 2px;
    //    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    border-bottom: 2px solid #01a4dc;
  }

  .metrics {
    margin: 10px 0;

    .metric {
      position: relative;
      text-align: center;

      border-left: 1px solid #eee;
      &:first-child {
        border-left: none;
      }

      .metric-value {
        padding: 0 1em;
        min-width: 4em;
        white-space: nowrap;
        .prefix {
          color: #999;
        }
        .prefix, .value {
          font-size: 16px;
        }
        .value {
          color: #222;
        }
        .units {
          color: #bbb;
          font-size: 12px;
        }
      }
      .name {
        white-space: nowrap;
        //        text-transform: uppercase;
        text-align: center;
        color: #777;
        font-size: 10px;
        padding: 0 1em;
      }

      &.has_attributes {
        cursor: pointer;
        &:hover {
          .attribute_wrapper {
            display: block;
          }
        }

        &:after {
          position: absolute;
          top: 100%;
          margin-top: 2px;
          $w: 12px;
          color: #aaa;
          font-family: FontAwesome;
          content: '\f0d7';
          left: 50%;
          margin-left: -$w/2;
        }

      }


    }

  }

}

.metric-attributes {

  text-align: center;

  .attribute {
    margin-top: 4px;
    &:first-child {
      margin-top: 0;
    }
  }
  .attribute-value {
    white-space: nowrap;
    padding: 0 0.5em;
    .prefix {
      color: #999;
    }
    .prefix, .value {
      font-size: 14px;
      line-height: 100%;
    }
    .value {
      color: #222;
    }
    .units {
      color: #bbb;
      font-size: 12px;
    }
  }
  .name {
    white-space: nowrap;
    //        text-transform: uppercase;
    text-align: center;
    color: #777;
    font-size: 10px;
    height: 12px;
    line-height: 100%;
    padding: 0 1em;
  }
}
