@import "../../../../settings/colors";
@import "../../../../settings/gaps";

$gutter-size: 24px;

#reports-energy_usage-temporal, #reports-energy_usage-charts {

  .hint {
    font-size: 13px;
    color: #999;
    padding-top: 8px;
  }

  .loading-message {
    font-size: 18px;
    color: #444;
    padding: 1em;
    border-radius: 8px;
    border: 1px solid #eee;
    background-color: rgba(240, 240, 240, .9);
  }

  .chart {
    position: relative;
  }

  .chart-wrapper, .heat-map-wrapper {
    .header {
      padding: $defaultGap $gutter-size 0 $gutter-size;
    }

    .chart-container {
      align-items: center;

      .left-gutter, .right-gutter {
        align-self: stretch;
        width: $gutter-size;
      }
      .top-gutter, .bottom-gutter {
        align-self: stretch;
        height: $gutter-size;
      }

      button {
        flex-grow: 1;
        outline: none;
        border-style: none;
        background-color: transparent;
        line-height: 100%;
        text-align: center;
        width: $gutter-size;
        padding: 6px 6px 6px 6px;

        &:hover:not(:disabled) {
          background-color: darken($separator-color, 0%);
        }

        &:active {
          background-color: darken($separator-color, 8%);
          color: #000;
        }
      }
    }
  }

  .chart-wrapper {
    .header {
      min-height: 93px;
    }

    #chart-options {
      padding: 0 $gutter-size $gutter-size $gutter-size;
    }


    #query-intervals {
      la-toggle-button-group {
        display: block;
        margin-top: 12px;
      }
    }
  }

  .heat-map-wrapper {
    .header {
      min-height: 93px;
    }

  }
//}
//
//#energyUsageChart, #temporalHeatMap {
//  background-color: white;
//  padding: $defaultGap 0 $defaultGap/2 0;
//  border: 1px solid $separator-color;
  //border-radius: 3px;
}
