<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Concert Manager</title>
  <base href="/"/>

  <% if defined?(Timecop) && Timecop.top_stack_item %>
      <!--See: http://makandracards.com/makandra/10753-mock-the-browser-time-or-time-zone-in-selenium-features-->
      <% now = Time.now %>
      <%= javascript_include_tag 'timekeeper', media: 'all' %>
      <script type="text/javascript">
        <!-- Time travel -->
        timekeeper.travel(new Date(<%=now.year%>, <%=now.month - 1%>, <%=now.day%>, <%=now.hour%>, <%=now.min%>));
      </script>
  <% end %>

  <%= content_for(:head) %>

  <%= javascript_include_tag 'application' %>
  <script src="/frontend/jspm_packages/system.js"></script>
  <script src="/frontend/config.js"></script>
  <script src="/frontend/concert_manager.js"></script>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all'%>
  <link href="/frontend/concert_manager.css" media="all" rel="stylesheet" />

  <style type="text/css">[ng-cloak] {
    display: none;
  }</style>

  <script type="text/javascript">
    System.import('app').catch(function (err) {
      console.log('Error: ', err);
      throw err;
    });
  </script>


</head>
<body class="layout-column">
<%= yield %>
</body>
</html>